<section class="panel">
	<header class="panel-heading">准考证信息</header>
	<header class="panel-heading bg-white">
		<div class="text-center h4">2016年音乐、舞蹈专业校考初试准考证</div>
	</header>
	<div class="pull-in text-center">
		<div class="inline">
			<div class="c-left">                    
                <p><span class="c-left-type">准考证号：</span>
                <span class="c-left-content">32532545</span></p>
                <p><span class="c-left-type">姓名：</span>
                <span class="c-left-content">张三</span></p>
                <p><span class="c-left-type">性别：</span>
                <span class="c-left-content">男</span></p>
                <p><span class="c-left-type">毕业中学：</span>
                <span class="c-left-content">32532545</span></p>
                <p><span class="c-left-type">考试科目：</span>
                <span class="c-left-content">声乐&nbsp;&nbsp;&nbsp;钢琴</span></p>
                <p><span class="c-left-type">初试时间：</span>
                <span class="c-left-content">
                <div class="btn-group" id="button">
	            	<button  class="btn btn-white btn-mini dropdown-toggle" data-toggle="dropdown">选择 <span class="caret"></span></button>
		                <ul class="dropdown-menu">
		                  <li><a href="#">Action</a></li>
		                  <li><a href="#">Another action</a></li>
		                  <li><a href="#">Something else here</a></li>
		                  <li class="divider"></li>
		                  <li><a href="#">Separated link</a></li>
		                </ul>
	                </span></p>
	            </div>
            </div>
            <div class="c-right">
            <img alt="" src="" width="142px" height="161px">
            </div>
		</div>
		<div>
		<button type="submit" class="btn btn-danger">登录</button>
		<button type="submit" class="btn btn-danger">另存为PDF</button>
		</div>
	</div>
</section>