<section class="panel">
	<header class="panel-heading">报名信息</header>
	<div class="form-horizontal" method="get" data-validate="parsley">
		<div class="form-group">
			<label class="col-lg-3 control-label"></label>
			<div class="col-lg-9 media">
				<div class="bg-light pull-left text-center media-large thumb-large">
					<i class="icon-user inline icon-light icon-3x m-t-large m-b-large"></i>
				</div>
				
			</div>
		</div>
		<div class="text-center">
		<div class="d-left">
			<div class="form-group">
				<label class="col-lg-3 control-label">考生姓名</label>
				<div class="col-lg-8">
					张三
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-lg-3 control-label">生源地</label>
				<div class="col-lg-8">
				湖北
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">邮政编码</label>
				<div class="col-lg-8">
					430079
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">通讯地址</label>
				<div class="col-lg-8">
					华中师范大学
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">联系电话</label>
				<div class="col-lg-8">
				123456789
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">父亲姓名</label>
				<div class="col-lg-8">
					长得花
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">父亲电话</label>
				<div class="col-lg-8">
					43007912345
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">父亲工作单位</label>
				<div class="col-lg-8">
				制造生产厂商
				</div>
			</div>
		</div>
		<div class="d-right">
			<div class="form-group">
				<label class="col-lg-3 control-label">身份证号</label>
				<div class="col-lg-8">
					430281198023923032
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">性别</label>
				<div class="col-lg-8">
					女
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">高考报名号</label>
				<div class="col-lg-8">
				78654321478233938
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">毕业中学</label>
				<div class="col-lg-8">
					湖师附中
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">备用电话</label>
				<div class="col-lg-8">
					1234567890
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">母亲姓名</label>
				<div class="col-lg-8">
				小花
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">母亲电话</label>
				<div class="col-lg-8">
					43007912345
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">母亲工作单位</label>
				<div class="col-lg-8">
				制造生产厂商
				</div>
			</div>
		</div>
		</div>
	</div>
</section>
