<section class="panel">
<header class="panel-heading">成绩信息</header>
	<h4>现场初试成绩</h4>
	<div class="pull-in text-center">
		<div class="score">
			<p>考生姓名：<span><strong>宋小宝</strong></span></p>
			<p>准考证号：<span><strong>20079</strong></span></p>
			<p>考试成绩:</p>
			 <div class="pull-out">
              <table class="table table-striped m-b-none text-small">
                <thead>
                  <tr>
                    <th>科目</th>
                    <th>考官一评分</th>                    
                    <th>考官二评分</th>
                    <th>考官三评分</th>
                    <th>考官四评分</th>
                    <th>平均分</th>
                   </tr>
                </thead>
                <tbody>
                  <tr>                    
                    <td>
                      	钢琴
                    </td>
                    <td>82</td>
                    <td>82</td>
                    <td>82</td>
                    <td>82</td>
                    <td class="ave">82</td>
                  </tr>
                 
                </tbody>
              </table>
            </div>
          </section>
        </div>
		</div>
		
	</div>
</section>