<div class="padder m-t m-b">
	<div class="timeline">
		<article class="timeline-item active">
			<div class="timeline-caption">
				<div class="panel bg bg-primary">
					<span class="timeline-icon"><i
						class="icon-bell-alt time-icon bg-primary"></i></span> <span
						class="timeline-date">考生状态</span>
					<h5>
						<span>欢迎使用招生考试报名管理系统</span>

					</h5>

				</div>
			</div>
		</article>
		<article class="timeline-item">
			<div class="timeline-caption">
				<div class="panel arrow arrow-left">
					<span class="timeline-icon"><i
						class="icon-pencil time-icon bg-primary"></i></span> <span
						class="timeline-date">12:25 am</span>
					<h5>注册</h5>
					<p>
						<a class="icon-hand-up" href="#">查看详细信息</a>
					</p>
				</div>
			</div>
		</article>
		<article class="timeline-item alt">
			<div class="timeline-caption">
				<div class="panel arrow arrow-right">
					<span class="timeline-icon"><i
						class="icon-edit-sign time-icon bg-success"></i></span> <span
						class="timeline-date">10:00 am</span>
					<h5>填写报名信息</h5>
					<p>
						<a href="#" class="icon-hand-up">查看详细信息</a>
					</p>
				</div>
			</div>
		</article>
		<article class="timeline-item">
			<div class="timeline-caption">
				<div class="panel arrow arrow-left">
					<span class="timeline-icon"><i class="icon-edit time-icon"></i></span>
					<span class="timeline-date">8:00 am</span>
					<h5>填写报考信息</h5>
					<p>
						<a href="#" class="icon-hand-up">查看详细信息</a>
					</p>
				</div>
			</div>
		</article>
		<article class="timeline-item alt">
			<div class="timeline-caption">
				<div class="panel arrow arrow-right">
					<span class="timeline-icon"><i
						class="icon-yen time-icon bg-info"></i></span> <span
						class="timeline-date">9:30 am</span>
					<h5>缴纳初试费</h5>
					<p>
						<a href="#" class="icon-hand-up">查看详细信息</a>
					</p>
				</div>
			</div>
		</article>
		<article class="timeline-item">
			<div class="timeline-caption">
				<div class="panel arrow arrow-left">
					<span class="timeline-icon"><i class="icon-save time-icon"></i></span>
					<span class="timeline-date">9:00 am</span>
					<h5>打印准考证</h5>
					<p>
						<a href="#" class="icon-hand-up">查看详细信息</a>
					</p>
				</div>
			</div>
		</article>
		<article class="timeline-item alt">
			<div class="timeline-caption">
				<div class="panel arrow arrow-right">
					<span class="timeline-icon"><i
						class="icon-male time-icon bg-info"></i></span> <span
						class="timeline-date">9:30 am</span>
					<h5>入场</h5>
					<p>
						<a href="#" class="icon-hand-up">查看详细信息</a>
					</p>
				</div>
			</div>
		</article>
		<article class="timeline-item">
			<div class="timeline-caption">
				<div class="panel arrow arrow-left">
					<span class="timeline-icon"><i class="icon-code time-icon"></i></span>
					<span class="timeline-date">9:00 am</span>
					<h5>分组</h5>
					<p>
						<a href="#" class="icon-hand-up">查看详细信息</a>
					</p>
				</div>
			</div>
		</article>
		<div class="timeline-footer">
			<a href="#"><i
				class="icon-plus time-icon inline-block bg-default"></i></a>
		</div>
	</div>
</div>