<div class="row">
	<div class="col-lg-4 col-offset-4 m-t-large">
		<section class="panel">
			<header class="panel-heading text-center"> 找回密码 </header>
			<form action="index.html" class="padder">
				<div class="block">
					<label class="control-label">请输入你的电子邮箱</label> <input type="email"
						placeholder="test@example.com" class="form-control">
				</div>
			<div class="line line-dashed"></div>
				<a href="#" class="btn btn-facebook btn-block m-b-small"></i>提交</a> <a
					href="#/login.html" class="btn btn-twitter btn-block">返回登录</a>
				<div class="line line-dashed"></div>
			</form>
		</section>
</div>