    <div class="row">
	<div class="col-lg-4 col-offset-4 m-t-large">
		<section class="panel">
			<header class="panel-heading text-center">用户注册</header>
			<form action="index.html" class="padder">
				<div class="block">
					<label class="control-label">用户名</label> <input
						type="text" placeholder="用户名"
						class="form-control">
				</div>
				<div class="block">
					<label class="control-label">电子邮箱</label> <input
						type="email" placeholder="电子邮箱" class="form-control">
				</div>
				<div class="block">
					<label class="control-label">密码</label> <input
						type="password" id="inputPassword" placeholder="密码"
						class="form-control">
				</div>
				
				<button type="submit" class="btn btn-info btn-block m-b-small">注册</button>
				
				<div class="line line-dashed"></div>
				<div class="row">
                
					<div class="  text-center">
							<a href="#" class="btn btn-twitter btn-circle btn-small"><i
							class="icon-comments"></i>微信注册</a>
					</div> 
					
				</div>
				<div class="line line-dashed"></div>
				<p class="text-muted text-center">
					<small>已有账号？</small>
				</p>
				<a href="#/login" class="btn btn-white btn-block">直接登录</a>
			</form>
		</section>
	</div>
</div>
